# Виртуальное окружение
venv/
venv312/
env/
ENV/

# Файлы с секретами
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Другое
.pytest_cache/
.coverage
htmlcov/